.videoPlayer {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 30%;
    height: fit-content;
    align-items: center;
    justify-content: center;
}

.videoPlayer > video {
    width: auto;
    max-width: 100%;
}

.videoPlayer > input {
    width: 30%;
}

.placeholderScreen {
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}