.videoPlayer {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 35%;
    height: fit-content;
    align-items: center;
    justify-content: center;
    background-color: #efefef;
    padding: 10px;
    border-radius: 5px;
}

.videoWrapper {
    position: relative;
    width: auto;
    max-width: 100%;
    min-height: 300px;
}

.videoWrapper > video {
    height: 100%;
    width: 100%;
}

.videoPlayer > input {
    width: 30%;
}

.placeholderScreen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
}